/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFEF8;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

.flex {
    display: flex;
}

.f1 {
	flex: 1;
}

.f-col {
    flex-direction: column;
}

.f-row {
    flex-direction: row;
}

.f-wrap {
    flex-wrap: wrap;
}

.jc-ctr {
    justify-content: center;
}

.jc-sb {
    justify-content: space-between;
}

.algni-ctr {
    align-items: center;
}

.mgn-auto {
    margin: auto;
}

.mgn-0 {
    margin: 0;
}

.mgn-b0 {
    margin-bottom: 0;
}

.mgn-t50 {
	margin-top: 50px;
}

.pdn-0 {
    padding: 0;
}

.g8 {
    gap: 8px;
}

.g10 {
    gap: 10px;
}

.g15 {
    gap: 15px;
}

.g20 {
	gap: 20px;
}

.g30 {
    gap: 30px;
}

.g35 {
    gap: 35px;
}

.g40 {
    gap: 40px;
}

.g50 {
	gap: 50px;
}

.curs-p {
    cursor: pointer;
}

.c-rouge {
	color: red;
}

.h100 {
    height: 100%;
}

.w100 {
    width: 100%;
}

.mwidth-1000 {
	max-width: 1000px;
}

.mwidth-1140 {
	max-width: 1140px;
}

.mwidth-1440 {
	max-width: 1440px;
}

.cachee {
	display: none;
}

/*********** Page principale ************/

/****** Header ******/

#bandeau-edition {
	background-color: black;
	color: white;
	font-size: 16px;
	padding: 20px;
}

#bandeau-edition img {
	width: 15px;
	height: 15px;
	padding-right: 10px;
}

header {
	padding-bottom: 100px;
}

/****** Navigateur ******/

nav a {
	color: black;
	text-decoration: none;
}

nav ul {
	list-style-type: none;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li a:hover {
	color: #B1663C;
}

nav img {
	width: 22px;
	height: 22px;
}

/****** Intro ******/

#introduction img {
	display: block;
	width: 80%;
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

#bouton-modifier {
	font-size: 14px;
	font-family: "Work sans";
	color: black;
	font-weight: 100;
	padding-left: 15px;
}

#bouton-modifier:hover {
	color: #B1663C;
}

#bouton-modifier img {
	height: 15px;
	width: 15px;
	padding-right: 7px;
}

/****** Filtres ******/

#filtres {
	margin-top: 50px;
	margin-bottom: 50px;
}

#filtres input[type="radio"] {
	display: none;
}

#filtres label {
	font-family: 'Syne';
	border: 2px solid #1D6154;
	border-radius: 30px;
	background-color: white;
	padding: 10px 15px 10px 15px;
	font-size: 16px;
	color: #1D6154;
}

#filtres label:hover {
	background-color: #1D6154;
	color: white;
	cursor: pointer;
}

#filtres input[type="radio"]:checked + label {
	background-color: #1D6154;
	color: white;
}


/****** Galerie ******/
#galerie figure {
	width: calc(33% - 10px);
}
#galerie img {
	width: 100%;
	height: 45vh;
}

/****** Contact *****/

#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.bouton-submit {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

/****** Modale ******/

#modale {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.4);
}

#fenetre-modale {
	position: relative;
	margin: 15vh 25vw;
	height: 70vh;
	width: 50vw;
	max-width: 700px;
	background-color: white;
	border-radius: 10px;
}

#fenetre-modale h2 {
	padding-top: 80px;
	text-align: center;
	color: black;
	font-weight: 100;
	font-family: "Work sans";
}

#popup {
	position: absolute;
	display: flex;
	top: 0;
	left: 25%;
	width: 50%;
	height: 0;
	transition: height 5s ease-in-out;
	background-color: rgb(173, 55, 55);
	overflow: hidden;
}

#popup p {
	align-self: center;
	font-weight: 500;
	font-size: 16px;
	color: white;
}

@keyframes popupModale {
	0% {
	height: 0;
	}
	25% {
	height: 50px;
	}
	75% {
	height: 50px;
	}
	100% {
	height: 0;
	}
}

.anim {
	animation: popupModale 5s ease-in-out forwards;
}

#croix-fermeture {
	position: absolute;
	top: 40px;
	right: 40px;
	width: 15px;
	height: 15px;
	cursor: pointer;
}

#bouton-ajout-vers-modif {
	position: absolute;
	top: 40px;
	left: 40px;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

#photos {
	margin: auto;
	height: 400px;
	width: 70%;
	border-bottom: 1px solid grey;
	margin-top: 50px;
	margin-bottom: 40px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 10px;
	padding-bottom: 40px;
	overflow: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

/*** Scrollbar ***/
#photos::-webkit-scrollbar {
	display: none;
}

.icone-supprimer {
	height: 15px;
	width: 15px;
	background-color: black;
	position: absolute;
	top: 5px;
	right: 5px;
	padding: 5px;
}

.icone-supprimer:hover {
	cursor: pointer;
	background-color: rgb(100, 100, 100);
}

#fenetre-modale .bouton-submit {
	padding: 10px 50px;
	color: white;
	width: auto;
	border: none;
	display: block;
	margin: auto;
	cursor: pointer;
}

#fenetre-modale-ajout {
	width: 70%;
}

#ajout-photo {
	margin-top: 40px;
	background-color: rgb(232, 241, 246);
}

#ajout-photo img {
	padding: 20px 0px 10px 0px;
	width: 68px;
	height: 60px;
}

#ajout-photo label {
	border: none;
	border-radius: 30px;
	background-color: rgb(203, 214, 220);
	color: rgb(48, 102, 133);
	padding: 8px 30px 8px 30px;
	font-size: 14px;
	font-family: "Work sans";
	font-weight: 400;
}

#ajout-photo p {
	margin: 10px auto 20px;
	font-size: 10px;
}

#ajout-infos {
	padding-bottom: 40px;
	border-bottom: 1px solid rgb(168, 168, 168);
	background-color: white;
}

#ajout-infos label {
	font-size: 14px;
}

#ajout-infos input, select {
	border: none;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
	background-color: white;
	height: 40px;
	font-family: 'Work sans';
	font-size: 16px;
	padding: 5px;
	text-align: center;
	margin-top: 5px;
}

#ajout-infos select option {
	padding: 5px;
	font-family: 'Work sans';
}

#bouton-formulaire-ajout {
	border: none;
	border-radius: 30px;
	background-color: rgb(167, 167, 167);
	color: white;
	font-family: "Syne";
	font-size: 15px;
	padding: 10px 100px 10px 100px;
	cursor: not-allowed;
}

.bouton-ajouter-autorise {
	background-color: #1D6154 !important;
	cursor: pointer !important;
}

.bouton-ajouter-autorise:hover {
	background-color: white !important;
	border: 1px solid #1D6154 !important;
	color: #1D6154 !important;
}

/****** Footer ******/

footer {
	position: absolute;
	left: 0;
	width: 100%;
	height: auto;
	background-color: white;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

footer li:hover {
	cursor: pointer;
	text-decoration: underline;
}

/************ Page login ************/

#page-login nav #login {
	font-weight: bold;
	cursor: pointer;
}

#page-login h2 {
	margin-top: 100px;
	text-align: center;
}

#page-login #message-erreur {
	text-align: center;
	color: red;
	padding: 20px;
	font-size: 16px;
}

#page-login form {
	text-align: left;
	max-width: 420px;
}

#page-login h2, input {
	margin-bottom: 30px;
}

#page-login label {
	margin-bottom: 10px;
	font-size: 16px;
}

#page-login input {
	border: none;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
	height: 40px;
	font-family: 'Syne';
	font-size: 22px;
	padding: 5px;
	text-align: center;
}

#page-login button {
	font-family: 'Syne';
	border: none;
	border-radius: 30px;
	background-color: #1D6154;
	color: white;
	align-self: center;
	font-size: 14px;
	padding: 10px 40px 10px 40px;
	cursor: pointer;
}

#page-login button:hover {
	border: 1px solid #1D6154;
	background-color: white;
	color: #1D6154;
}

#page-login form a {
	text-decoration: underline;
	text-align: center;
	margin-top: 20px;
	cursor: pointer;
}

#page-login form a:hover {
	color: #B1663C;
}

#page-login footer {
	bottom: 0;
}